@import "var";

.services {
  background-color: $bg-color;
  padding: 50px 0 48px;

  border-bottom: 1px solid #dcdcdc;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-self: center;
    width: 100%;
    // margin: 71px 0 48px;
    justify-content: center;
  }
  &__title {
    padding: 100px 0 22px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: $accent-color;
  }

  &__item {
    position: relative;
    width: 270px;
    padding: 0 20px;
    margin: 20px 0;
    text-align: center;

    &:nth-child(1)::before {
      position: absolute;
      top: 0px;
      left: 95px;
      text-align: center;
      content: url("../img/pell.svg");
    }

    &:nth-child(2)::before {
      position: absolute;
      top: 0px;
      text-align: center;
      left: 95px;
      content: url("../img/cons.svg");
    }

    &:nth-child(3)::before {
      position: absolute;
      top: 0px;
      text-align: center;
      left: 95px;
      content: url("../img/trist.svg");
    }
    &:nth-child(4)::before {
      position: absolute;
      top: 0px;
      text-align: center;
      left: 95px;
      content: url("../img/ferm.svg");
    }
  }
}

// @media screen and (max-width: 1100px) {
//   .services__item {
//     // position: relative;
//     max-width: 320px;
//     // padding: 0 20px;
//     // margin: 20px 0;
//     // text-align: center;
//   }
// }
